<div>
    <form>
        Product Id<input type="text" name="pid" [(ngModel)]="pid">
        Product Name<input type="text" name="pname" [(ngModel)]="pname">
        Product Price<input type="text" name="price" [(ngModel)]="price">
        Text<input type="text" name="tt" [(ngModel)]="tt">
  <button type="button" name="btn" (click)="addproduct()">Add Product</button>
        <button type="button" name="btn" >test button</button>
  <button type="button" name="btn" (click)="updateproduct()">Update Product</button>
    </form>
</div>
